body {
  font-family: "Arial", sans-serif;
}

#popup-container {
  height: 220px;
  width: 400px;
  background: linear-gradient(to bottom, #9900cc 50%, #660066);
  border-radius: 20px;
  padding: 30px;
  box-shadow: inset 1px 2px 0px rgba(255,255,255,0.18), inset -2px -2px 2px rgba(0,0,0,0.65);
  display: block;
}

#popup-page #button button:hover {
  transform: scale(0.90);
}

hr {
  border-radius: 3px;
}

#popup-page h2 {
  font-size: 40px;
  color: #cc0044;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 0px;
}

h3, p {
  color: #ffffff;
}

#popup-page #playerX, #popup-page #playerO {
  height: 50px;
  width: 175px;
  cursor: pointer;
  background: #04c0b2;
  border: none;
  outline: none;
  color: rgb(27, 26, 26);
  font-weight: bold;
  font-size: 15px;
  border-radius: 5px;
  transform: scale(1);
  box-shadow: 2px 2px 2px rgba(255,255,255,0.26), -2px -2px 5px rgba(0,0,0,0.87);
  transition: 0.5s;
}

#popup-page #button button:first-child {
  margin-right: 40px;
}

#playerO {
  padding-right: 10px;
}
